@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

body{
    font-family: 'Londrina Solid', sans-serif;
    font-size: 16px;
    background-color: #E9E9E9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}